{% extends "layout.html" %} {% block title %} Create Account {% endblock %} {%
block main %}

<h1 class="page-title">Create an Account</h1>

<form action="{{ url_for('auth.register')}}" method="post">
  <div class="form-floating col-sm-7 mx-auto mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="First name"
      name="firstname"
    />
    <label for="floatingInput">First Name</label>
  </div>
  <div class="form-floating col-sm-7 mx-auto mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Last name"
      name="lastname"
    />
    <label for="floatingInput">Last Name</label>
  </div>
  <div class="form-floating col-sm-7 mx-auto">
    <input
      type="tel"
      class="form-control"
      id="floatingInput"
      placeholder="Phone number"
      name="phonenumber"
    />
    <label for="floatingInput">Phone Number</label>
  </div>
  <div class="col-sm-7 mx-auto mb-3">
    <p>Numbers only.</p>
  </div>
  <div class="form-floating col-sm-7 mx-auto mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      name="email"
      placeholder="Email"
    />
    <label for="floatingInput">Email</label>
  </div>
  <div class="form-floating col-sm-7 mx-auto">
    <input
      type="password"
      class="form-control"
      id="floatingInput"
      name="password"
      placeholder="Password"
    />
    <label for="floatingInput">Password</label>
  </div>
  <div class="col-sm-7 mx-auto mb-3">
    <p>
      Password must contain at least 8 characters, 1 capital letter, 1 number,
      and 1 special character ($, #, @, !, *).
    </p>
  </div>
  <div class="form-floating col-sm-7 mx-auto mb-3">
    <input
      type="password"
      class="form-control"
      id="floatingInput"
      name="confirmation"
      placeholder="Confirm Password"
    />
    <label for="floatingInput">Confirm Password</label>
  </div>
  <div class="col-sm-7 mx-auto mb-3">
    <select class="form-select" name="gender">
      <option disabled selected>Select Gender...</option>
      <option>Male</option>
      <option>Female</option>
      <option>Non-Binary</option>
    </select>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-kvkl" type="submit">Create Account</button>
    <a class="btn btn-danger" href="{{ url_for('main.index') }}">Cancel</a>
  </div>
</form>

{% endblock %}
