{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <h1 class="page-title">Change Password</h1>

    <form action="/user/password" method="post">
        <div class="form-floating col-sm-7 mx-auto mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Current Password" name="old_password">
            <label for="floatingInput">Current Password</label>
        </div>
        <div class="form-floating col-sm-7 mx-auto mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="New Password" name="new_password">
            <label for="floatingInput">New Password</label>
        </div>
        <div class="col-sm-7 mx-auto mb-3">
            <p>Password must contain at least 8 characters, 1 capital letter, 1 number, and 1 special character ($, #, @, !, *).</p>
        </div>
        <div class="form-floating col-sm-7 mx-auto mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirm New Password" name="confirmation">
            <label for="floatingInput">Confirm New Password</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-kvkl" type="submit">Change Password</button>
            <a class="btn btn-danger" href="/user/profile">Cancel</a>
        </div>
    </form>

{% endblock %}