{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="page-title">Upcoming KVKL Events</h1>

    <div class="homepage">
        {% for event in events %}

            <div class="list-group list-group-item container">
                <div class="row">
                    <div class="col">
                        <h5>{{ event.event_name }}</h5>
                        <div>{{ event.month }} {{ event.day }}, {{ event.year }}; {{ event.time }}</div>
                        <div><small>{{ event.location }}</small></div>
                    </div>
                    <div class="col text-end">
                        <small>{{ event.spots_available }} spots left / {{ event.number_teams }} total teams</small>
                        <div class="d-flex w-100 justify-content-end mt-3">
                            <div class="me-2"><button type="button" class="btn btn-kvkl" data-bs-toggle="modal" data-bs-target="#modal{{event.id}}">Sign Up</button></div>
                            <div><button type="button" class="btn btn-kvkl" data-bs-toggle="collapse" data-bs-target="#collapse{{event.id}}" aria-expanded="false" aria-controls="collapseExample">Registered Teams</button></div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapse{{event.id}}">
                    <div class="card card-body">
                        <ul>
                            <li>placeholder for team name</li>
                        </ul>
                    </div>
                  </div>
            </div>

            {% if session["user_id"] %}

                <!-- Logged In Modal -->
                <div class="modal fade" id="modal{{event.id}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalLabel">{{ event.event_name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ event.month }} {{ event.day }}, {{ event.year }}; {{ event.time }}
                                <p><small>{{ event.location }}</small></p>
                                <p><small>{{ event.spots_available }} spots left</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="/team_register"><button  type="button" class="btn btn-kvkl">Register a Team</button></a>
                                <a href="/player_register"><button type="button" class="btn btn-kvkl">Join a Team</button></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}

                <!-- Not Logged In Modal -->
                <div class="modal fade" id="modal{{event.id}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalLabel">{{ event.event_name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                You must log in or create an account to register or join a team.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="/login"><button type="button" class="btn btn-kvkl">Log In</button></a>
                                <a href="/account"><button type="button" class="btn btn-kvkl">Create an Account</button></a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% endblock %}