{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <h1 class="page-title">{{ user[0].first_name }} {{ user[0].last_name }}</h1>

    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h3 class="text-center mb-3">Contact Information</h3>
                <div class="list-group list-group-item mb-3">
                    <p>First Name: {{ user[0].first_name }}</p>
                    <p>Last Name: {{ user[0].last_name }}</p>
                    <p>Email: {{ user[0].email }}</p>
                    <p>Phone Number: {{ user[0].phone_number }}</p>
                    <p>Gender: {{ user[0].gender }}</p>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto text-center">
                    <a href="/update"><button class="btn btn-kvkl" type="button">Update Contact Information</button></a>
                    <a href="/password"><button class="btn btn-kvkl" type="button">Change Password</button></a>
                </div>
            </div>
            <div class="col">
                <h3 class="text-center mb-3">Registration History</h3>
                {% for team in history %}

                    <div class="list-group list-group-item container">
                        <div class="row">
                            <div class="col">
                                <h5 class="mb-1">{{ team.team_name }}</h5>
                                <div>{{ team.event_name }}</div>
                                <small class="mb-1">{{ team.month }} {{ team.day }}, {{ team.year }}; {{ team.time }}</small>
                                <div><small>{{ team.location }}</small></div>
                                <div><button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#teamRosterModal{{team.id}}">Team Roster</button></div>
                            </div>

                            <!-- Team Roster Modal -->
                            <div class="modal fade" id="teamRosterModal{{team.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Team Roster</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            <ul>
                                                {% for player in team["players"] %}
                                                    <li>{{ player.first_name }} {{ player.last_name }} {% if player.captain == "Yes" %} (Captain) {% endif %}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col text-end">
                                <small>Captain: {{ team.captain }}</small>
                                {% if team.captain == "Yes" %}
                                    <div>
                                        <small>Passcode: {{ team.passcode }}</small>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-kvkl mb-1 btn-sm" data-bs-toggle="modal" data-bs-target="#captainModal{{team.id}}">Update Captain</button>
                                        <button type="button" class="btn btn-kvkl mb-1 btn-sm" data-bs-toggle="modal" data-bs-target="#deregisterModal{{team.id}}">De-register Team</button>
                                    </div>

                                    <!-- De-Register Modal -->
                                    <div class="modal fade" id="deregisterModal{{team.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">De-Register a Team</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-start">
                                                    Are you sure you want to de-register {{ team.team_name }}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <form action="/de-register_team" method="post"><button type="submit" name="de-register" value="{{ team.id }}" class="btn btn-kvkl">De-Register Team</button></form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Update Captain Modal -->
                                    <div class="modal fade" id="captainModal{{team.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Captain</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form action="/update_captain" method="POST"></form>
                                                    <div class="modal-body text-start">
                                                    
                                                        <select class="form-select" name="new_captain">
                                                            <option disabled selected>Select New Captain...</option>
                                                                {% for player in team["players"] %}
                                                                    <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }} {% if player.captain == "Yes" %} (Captain) {% endif %}</option>
                                                                {% endfor %}
                                                        </select>
                                                    
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" name="team_id" value="{{ team.id }}" class="btn btn-kvkl">Update Captain</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                                <div>                                        
                                    <button type="button" class="btn btn-kvkl btn-sm" data-bs-toggle="modal" data-bs-target="#leaveModal{{team.id}}">Leave Team</button>
                                </div>

                                <!-- Leave Team Modal -->
                                <div class="modal fade" id="leaveModal{{team.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">De-Register a Team</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                Are you sure you want to leave {{ team.team_name }}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <form action="/leave_team" method="post"><button type="submit" name="leave" value="{{ team.id }}" class="btn btn-kvkl">Leave Team</button></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-kvkl" type="button" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>

        <!-- Delete Account Modal -->
        <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        Are you sure you want to delete your account?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="/delete_account" method="POST">
                            <button type="submit" class="btn btn-kvkl">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}